{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form method="POST" id="recipeForm">
    <div class="row mb-3">
        <div class="col-12">
            {% crispy recipe_form %}
        </div>
    </div>

    <h3 class="h5">
        Ingredients
    </h3>
    {% crispy ingredient_form_set ingredient_helper %}

    <div class="row justify-content-end">
        <div class="col-auto">
            <button type="button" class="btn btn-secondary" id="addIngredientButton">
                + New Ingredient
            </button>
        </div>
    </div>

    <h3 class="h5">
        Steps
    </h3>
    {{ step_form_set.management_form|crispy }}
    {% for step_form in step_form_set %}
    <div class="row align-items-center step_forms">
        <div class="col-1 d-flex justify-content-center mb-3">
            {{ forloop.counter }}
        </div>
        {% crispy step_form step_helper %}
        <div class="col-1 d-flex justify-content-center mb-3">
            #
        </div>
    </div>

    <div class="row justify-content-end">
        <div class="col-auto">
            <button type="button" class="btn btn-secondary" id="addStepButton">
                + New Step
            </button>
        </div>
    </div>
    {% endfor %}

    <div class="row my-5 justify-content-end">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">
                Save Recipe
            </button>
        </div>
    </div>
</form>

<script>
    document.querySelector('#addIngredientButton').addEventListener('click', () => {
        addForm('ingredient')
    })
    document.querySelector('#addStepButton').addEventListener('click', () => {
        addForm('step')
    })
    document.querySelector('#recipeForm').addEventListener('submit', () => {
        const stepForms = document.querySelectorAll(`.step_forms`)
        stepForms.forEach((stepForm, index) => {
            stepForm.querySelector(`[name="step-${index}-number"]`).value = index + 1
        })
    })
</script>
{% endblock %}